/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
  */

.container {
  padding-bottom: 50px;
}

.header {
  background: url("../public/img/Header.jpg");
  height: 200px;
  background-size: 100%;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;

}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header h1,
h6 {
  position: relative
}

.navbar {
  background-color: rgb(99, 107, 107);
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar div {
  padding: 0px 15px;
}

.div-menu {
  display: flex;
  gap: 10px
}

.button-main {
  background-color: rgb(99, 107, 107);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  text-align: left;
  color: white;
  padding: 1px 5px;
  text-decoration: none;
}

.button-main-right {
  text-align: right;

  button {
    color: rgb(0, 204, 255);
    border: 1px solid rgb(0, 204, 255);
  }
}

.menu-opciones {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
  width: 100%;
}

.buttons-cards {
  display: flex;
  justify-content: space-around;

  button {
    border-radius: 5px;
  }
}

footer {
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-total {
  text-align: right;
}

.div-formulario-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.formulario-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.button-form {
  background-color: rgb(25, 25, 240);
  color: white;
  border: none;
  border-radius: 5px;
  width: 120px;
}

.listado-ingredientes {
  list-style-type: circle;
  color: #8c8b8b;
  font-size: 14px;
}

/* Cart */
.cartResumen {
  padding: 30px;
}

.detalleCarritoCompra {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.detalleCarritoCompra img {
  height: 30px;
  margin-right: 5px;
}

.detalleCarritoCompra label {
  text-transform: capitalize;
}

.precioCantidad {
  display: flex;
  gap: 10px;
  align-items: center
}


.cardDetallePizza {
  display: grid;
  grid-template-areas:
    "imagen ingredientes"
    "descripcion descripcion";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

}

.imagenPizza {
  grid-area: imagen;

}

.ingredientesPizza {
  grid-area: ingredientes;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;

  div {
    width: 100%;
  }

  .listado-ingredientes {
    list-style-position: inside;
  }
}

.descripcionPizza {
  grid-area: descripcion;
  padding: 20px 0px;
}

.precioPizza {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.notFound {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.notFound::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/img/Header.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
}

.textoNotFound {
  position: relative;
  z-index: 2;
  font-size: 2em;
  text-align: center;
  margin-top: 20%;
}

.seccionProfile {
  display: flex;

  article {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

.datosProfile {
  width: 80px;
  border-right: 1px solid rgb(199, 199, 199);
}

.pagesPizza,
.div-formulario-register,
.cartResumen {
  background-color: #ebeaea;
  height: 100vh;

}

.btn-volver {
  background: gray
}